<div class="card mb-2">
  <div class="card-body text-start">
    <div class="d-flex align-items-center">
      <a href="/profile/<%= post.author.id%>">
        <h5>
          <%= post.author.username %>
        </h5>
      </a>

      <small class="text-muted ms-auto">
        <%= post.createdAt.toDateString() %>
      </small>

      <% if (post.author.id.equals(currentUser._id)){ %>
      <div class="dropdown">
        <button class="no-outline" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/assets/images/ellipsis.png" height="20px">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-center" href="/posts/<%= post._id %>/edit">Edit</a></li>
          <li>
            <form class="dropdown-item text-center" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
              <button type="submit" class="no-outline">Delete</button>
            </form>
          </li>
        </ul>
      </div>
      <% } %>
    </div>

    <p class="card-text">
      <%= post.description %>
    </p>

    <% if (post.image) { %>
    <img class="w-100" src="/uploads/images/<%= post.image %>" />
    <% } %>

    <hr class="mt-1">
    <div class="collapse show" id="post<% post._id %>">
      <% if (post.comments.length > 0) { %>
      <div class="card-body comment-section">
        <% post.comments.forEach((comment) => { %>
        <div class="d-flex align-items-center">
          <div class="d-flex justify-content-between">
            <div class="font-weight-bold">
              <%= comment.author.username %>
            </div>
            <small>
              <%= comment.createdAt.toDateString() %>
            </small>
          </div>
          <div class="">
            <p>
              <%= comment.text %>
            </p>
            <% if (comment.author.id.equals(currentUser._id)) { %>
            <div class="dropdown">
              <button class="no-outline" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/images/ellipsis.png" height="20px">
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-center" href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a></li>
                <li>
                  <form class="dropdown-item text-center" action="/posts/<%= post._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                    <button type="submit" class="no-outline">Delete</button>
                  </form>
                </li>
              </ul>
            </div>
            <% } %>
          </div>
        </div>
        <% })%>
      </div>
      <% } %>
    </div>

    <div class="">
      <form action="/posts/<%= post._id %>/comments">
        <div class="form-group">
          <input type="text" name="text" class="comment-section" placeholder="댓글을 작성해주세요." required>
          <p class="small ms-2">Enter를 눌러주세요</p>
        </div>
      </form>
    </div>

  </div>
</div>
